@import "../../public/nullstyle.scss";
@import "../scss/responsbility.scss";


.wrapper {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(255, 175, 0, 1) 0%,
    rgba(238, 124, 0, 1) 27%,
    rgba(255, 239, 0, 1) 100%
  );
  padding: 50px 40px 0px 40px;
}

// body::-webkit-scrollbar {
//   display: none;
// }
.container {
  max-width: 1300px;
  min-height: 100vh;
  overflow: hidden;
  border: 1px solid #ffffff;
  margin: 0px auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 1 1 auto;
  margin: 30px;
}
.pizza {
  margin-bottom: -20px;
  &__body {
    margin: -25px 0px 0px 5px;
  }
  display: flex;
  justify-content: space-between;
  padding: 15px;
  &__search__image {
    width: 20px;
    position: relative;
    top: 15px;
    left: 50px;
  }
  &__search {
    margin-right: 70px;

    &__button {
      display: flex;
      align-items: center;
      height: 48px;
      background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #f09819 51%,
        #ff512f 100%
      );
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
  
        cursor: pointer;
        padding: 0px 20px 0px 20px;
        color: white;
        font-weight: 700;
        font-size: 15px;
  }
  &__button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}
  &__card:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  &__card {
    &__order {
      color: white;
    }
    display: flex;
    align-items: center;
    height: 48px;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #f09819 51%,
      #ff512f 100%
    );
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

    span {
      cursor: pointer;
      padding: 0px 20px 0px 20px;
      color: white;
      font-weight: 700;
      font-size: 15px;

      img {
        margin: 5px 10px 0px 0px;
      }
    }
  }
  &__input {
    padding-left: 50px;
    width: 400px;
    height: 48px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    font-size: 16px;
  }
  &__input:hover {
    font-size: 17px;
  }
  &__body__second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .pizza__like {
      margin: 8px 0px 0px 10px;
    }
    .pizza__like img {
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: relative;
      animation-name: example;
      animation-duration: 1s;
      animation-iteration-count: 1000;
    }
    @keyframes example {
      100% {
        width: 35px;
        height: 35px;
        left: 0px;
        top: 0px;
      }
    }
  }
  &__body__one {
    display: flex;
  }
  &__image {
    margin: -30px 0px 0px -35px;
  }
  &__image img {
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  &__title {
    cursor: pointer;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px gray;
    font-weight: 900;
    color: rgba(238, 124, 0, 1);
  }
  &__title:hover {
    text-shadow: 5px 5px gray;
    transition: 0.9s;
  }
  &__text {
    font-size: 16px;
    color: #7b7b7b;
    font-weight: 400;
    line-height: 19px;
  }
}
.detail {
  margin: 50px 0px 10px 20px;
  &__body {
    display: flex;
  }
  &__body img {
    max-width: 600px;
    max-height: 600px;
  }
  &__info {
    .titlestyle {
      font-size: 20px;
      font-weight: 700;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &__price {
      font-size: 20px;
    }
  }
}
.menu {
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #f9f9f9;
  padding-top: 20px;
  .activex {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fe5f1e;
    background-color: rgba(254, 95, 30, 0.05);
  }

  &__items {
    cursor: pointer;
    // margin: 20px 0px 0px 160px;

    width: 175px;
    margin: 5px 0px 0px 130px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    position: absolute;
    top: 250px;
    z-index: 1;
  }
  &__items ul li {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 15px 0px 15px 0px;
  }
  &__list ul {
    display: flex;
  }
  &__list li {
    padding: 15px 30px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 700;
  }

  &__filter {
    // padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__sort {
    font-size: 14px;
    color: #2c2c2c;
    font-weight: 700;
  }
  &__popular {
    width: 130px;
    margin-left: 10px;
  }
  &__popular:hover {
    cursor: pointer;
    font-weight: 900;
    color: #fe5f1e;
  }
  &__image {
    padding: 5px 10px 0px 0px;
  }
  .active {
    background-color: #282828;
    color: #ffffff;
  }
}

.category__name {
  margin: 30px 0px;
  font-weight: 700;
  font-size: 32px;
}
.content__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.blockpizza:hover {
  cursor: pointer;
  border: 1px solid #f3f3f3;
  border-radius: 30px;
  //padding: 5px 0px 10px 7px;
}
.blockpizza__detail {
  border: 1px solid #d3d3d3;
  border-radius: 30px;
  padding: 30px;
  .active {
    background: #ffffff;
    color: black;
    flex: 1 1 auto;
    margin: 5px 5px;
    text-align: center;
  }
}
.blockpizza {
  margin: 40px auto;
  &__image .like {
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
    right: 20px;
  }
  &__image .nolike {
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
    right: 20px;
    background-color: red;
  }
  &__image .pizzaimage {
    width: 260px;
    height: 260px;
  }
  &__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0px;
    text-align: center;
  }
  &__category {
    width: 290px;
    
    background: #f3f3f3;
    border-radius: 10px;
    // padding: 0px;
    //margin: 0px 0px 30px 0px;
  }
 

  &__one ul {
    display: flex;
    margin: 0px auto;
    
    
  }

  .active {
    background: #ffffff;

    color: black;
    //flex: 1 1 auto;
    //margin: 5px 5px;
    //text-align: center;
  }
  &__one ul li:nth-child(1) {
    cursor: pointer;
    margin: 5px 10px 0px -15px;
    padding: 10px 25px 10px 20px;
    font-size: 14px;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    
  }
  &__one ul li:nth-child(2) {
    cursor: pointer;

    margin:  5px 0px 0px 0px;
    padding:  10px 20px 10px 20px;
    font-size: 14px;
    color: black;
    border: 2px solid white;
    border-radius: 10px;

  }

  &__two ul {
    display: flex;
    margin: 0px 0px 0px 0px;
    justify-content: space-around;
    margin-left: -22px;
  }

  &__two ul li {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 25px 10px 20px;
    margin: 5px 0px 5px 0px;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 10px;
  }
  &__price__add {
    margin-top: 15px;
    width: 280px;
    display: flex;
    justify-content: space-between;
  }
  &__price {
    margin-top: 5px;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
  }
  &__add {
    
  }
  &__add button {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #eb5a1e;
    background: #ffffff;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    width: 155px;
    height: 40px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__add button span{
   margin-right: 5px;
  }

  &__add button:hover {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background: #fe5f1e;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    width: 155px;
    height: 40px;
    padding: 0px 0px 0px 0px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin: 30px 0px;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    color: #777777;
    text-align: center;
    line-height: 145.4%;
    margin: 30px 0px;
  }
  &__image img {
    width: 350px;
    height: 350px;
  }
  &__button button {
    width: 210px;
    height: 46px;
    background: #282828;
    border-radius: 30px;
  }
  &__button button .link {
    color: white;
  }
}

.createdBy {
  display: flex;
  justify-content: center;
  //margin: 0px 260px 0px 0px;

  &__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #fe5f1e;
    filter: blur(0.8px);
    margin: 20px 0px 0px 0px;
    //padding: 0px 300px 20px 80px;
  }
}

.order {
  &__count {
    margin-top: 30px;
  }
  &__footer {
    margin-top: 30px;
  }
  &__pay {
    cursor: pointer;
    width: 211px;
    height: 55px;
    background: #fe5f1e;
    border-radius: 30px;
    padding: 18px 0px 0px 40px;
    color: #ffffff;
  }
  &__back {
    cursor: pointer;
    width: 211px;
    height: 55px;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    padding: 18px 0px 0px 40px;
    &__link {
      color: #cacaca;
    }
  }
  &__all {
    font-weight: 400;
    line-height: 27px;
    font-size: 22px;
    letter-spacing: 0.01em;
  }
  &__all span {
    font-weight: 700;
  }
  &__summa {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
  }
  &__summa span {
    color: #fe5f1e;
    font-weight: 700;
  }
  &__count {
    display: flex;
    justify-content: space-between;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__container {
    margin: 50px 180px;
  }
  &__cart {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.01em;
  }
  &__cart img {
    width: 30px;
  }
  &__empty {
    cursor: pointer;
    color: #b6b6b6;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0px 0px 0px;
  }
  &__empty img {
    width: 30px;
    margin: -5px 0px 0px 0px;
  }
  
  &__body {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding: 15px 0px;
  }
  &__add {
    display: flex;

    margin: 20px 0px 0px 0px;
    &__plus img {
      cursor: pointer;
      width: 32px;
      height: 32px;
    }
    &__minus img {
      cursor: pointer;
      width: 32px;
      height: 32px;
    }

    &__minus .disable {
      width: 32px;
      height: 32px;
    }

    &__count {
      padding: 3px 10px;
      color: #000000;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }
  }
  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin: 20px 0px 0px 0px;
  }
  &__remove img {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 20px 0px 0px 0px;
  }
  &__text {
    display: flex;
    width: 450px;
    &__body {
      margin: 13px 0px 0px 5px;
    }
  }
  &__image img {
    width: 80px;
    height: 80px;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    &__text {
      color: #8d8d8d;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
    }
  }
}
.update__image img{
  max-width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.pageClassName {
  cursor: pointer;
  font-size: 15px;
  margin-right: 5px;
  border: 1px solid #f3f3f3;
  padding: 10px;
  border-radius: 30px;
  margin: 0px 10px;
}
.pageClassName:hover {
  background-color: #ff9800;
  color: white;
  margin-right: 5px;
  border: 1px solid #fe5f1e;
  padding: 10px;
  border-radius: 30px;
  margin: 0px 10px;
}
.previousClassName img {
  cursor: pointer;
  width: 30px;
}
.nextClassName img {
  cursor: pointer;
  width: 30px;
}


.limit  {
 display: flex;
 justify-content: center;
}
.limit select {
  cursor: pointer;
  color: white;
  background-color: #fe5f1e;
  border-radius: 30px;
  border: 1px solid #f3f3f3;
  width: 200px;

}

.recentorder {
  &__wrapper {
    margin: 40px 0px 0px 0px;
  }
  &__justtitle {
    color: rgb(18, 18, 18);
    letter-spacing: 0.4px;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
  }
  &__container {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    color: rgb(112, 112, 112);
    font-size: 14px;
    margin: 0px 0px 5px 0px;
  }
  &__shipping {
    color: rgb(69, 133, 0);
    font-size: 16px;
    margin: 0px 0px 5px 0px;
  }
  &__date {
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: 700;
    line-height: 20px;
  }
  &__images img {
    width: 48px;
    height: 48px;
    margin: 5px;
  }
  &__items {
    margin: 0px 15px 10px 0px;
    width: 260px;
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
  }
}

.recentorderdetail__container {
  & .diverse {
    border: 1px solid #f4f4f4;
    padding: 10px;
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
  }
  & .diverse span {
    margin: 30px 0px 0px 0px;
  }
  border-radius: 10px;
  border: 1px solid #f4f4f4;

  margin: 40px 0px 0px 0px;
  padding: 25px 20px 25px 20px;

  & img {
    margin: 8px 30px 0px 0px;
    width: 75px;
    height: 75px;
  }
  .recentorderdetail__footer {
    display: flex;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    margin: 10px 0px;
    padding: 10px 0px;
  }
  .recentorderdetail__body {
    margin-top: 0px;
    & .gapping {
      margin: 5px 0px;
    }
    & span {
      font-weight: 700;
    }
  }
  .recentorderdetail__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .recentorderdetail__status {
    color: #197b2a;
    font-size: 18px;
    font-weight: 700;
  }
  .recentorderdetail__date {
    margin: 10px 0px;
  }
}
@media only screen and (max-width: 9000px) {
  .stickyContainer{
    display: none;
  }
  .burger{
    display: none;
  }
  .admin__image{
    width: 50px;
    height: 50px;
     
   }
}

@media only screen and (max-width: 687px) {
  .box{
    .box__title{
      font-size: 10px;
    }
  }
  .pop__container{
    margin: 0px -28px 0px -30px;
  }
  .pop__wrapper .box img{
    width: 130px;
    height: 130px;
  }
  .right-left img{
    display: none;
  }
  .blockpizza__detail {
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    padding: 30px;
    padding: 10px 10px 10px 10px;
    margin: 30px 0px 0px -40px;
   
    
  }


  .admin__table thead tr{
    display: flex;
    flex-direction: column;
  }
  .admin__table tbody tr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .admin__table tbody th {
    display: flex;
    flex-direction: column;
  }
  .admin__image{
    width: 250px;
    height: 150px;
     
   }
}

@media only screen and (max-width: 1313px) {
  
  .linkBurger{
    color: #000000;
    font-size: 18px;
    margin-bottom: 5px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 8px 20px;
    text-align: center;
  }
  .linkBurger:hover{
    color: #eb5a1e;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .admin__image{
   width: 50px;
   height: 50px;
    
  }
  .limit {
    font-size: 100%;
  }
  .recentorderdetail__container {
    margin: 20px -20px 0px -20px;
  }
  .empty__image img {
    width: 100%;
    height: 100%;
  }
  .font {
    font-size: 100%;
  }
  .order__cart {
    font-size: 100%;
  }
  .order__summa {
    font-size: 100%;
  }
  .order__all {
    font-size: 100%;
  }
  .order__body {
    margin-left: -20px;
  }
  .order__price {
    font-size: 100%;
  }
  .order__add__count {
    font-size: 100%;
  }
  .order__title__text {
    font-size: 100%;
  }
  .order__title {
    font-size: 100%;
  }
  .order__container {
    margin: 0 auto;
  }
  .detail__body {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 100%;
    }
  }

  .detail__info__title {
    font-size: 100%;
  }
  .detail__info__price {
    font-size: 100%;
  }
  .pizza {
    display: flex;
    flex-direction: row;
  }
  .pizza__body__second {
    margin: 0px;
  }

  .detail__info__title .titlestyle {
    font-size: 100%;
  }
  .detail__info__price .titlestyle {
    font-size: 100%;
  }
  .menu__list ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .menu__list ul li {
    font-size: 10px;
  }
  .container {
    margin: 0;
  }
}





@media only screen and (max-width: 1213px) {
  .burger{
    display:block;
  }
  .pizza__body{
    display: block;
    margin-bottom: 20px;
  }
  .pizza__body__second{
    display: none;
  }
  .wrapper{
    padding: 20px 20px;
  }
  .menu{
    display: none;
  }
  .stickyContent{
   
    span{
      color:  rgba(238, 124, 0, 1);
      background-color: white;
      border: 1px solid white;
      height: 25px;
      width: 25px;
      display: inline-block;
      border-radius: 50%;
      font-weight: 700;
      font-size: 10px;
      padding: 5px 0px 0px 8px;
      margin: 0px 5px -10px 0px;
      
    }
  }
  .stickyPrice{
  font-weight: 600;
  }
  .stickyContainer{
    cursor: pointer;
     display: block;
     position: sticky;
     bottom: 5px;
     font-weight: 700;
     font-size: 1rem;
     z-index: 1;
     border: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin: 0px 10px;
    border-radius: 10px;
    background: linear-gradient(
    90deg,
    rgba(255, 175, 0, 1) 0%,
    rgba(238, 124, 0, 1) 27%,
    rgba(255, 175, 0, 1) 50%
  );
  color: white;
  }



}
.pop__wrapper::-webkit-scrollbar {
  display: none;
  
}
.pop__wrapper{
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
 // border: 1px solid black;
  margin: 0px -20px;
}
.right-left img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.right-left{
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px -10px 0px;
}

.box{ 

    scroll-snap-align: start;
    display: inline-flex;
    flex-direction: column;
   
    border: 1px solid rgba(32,33,37,0.12);
    border-radius: 15px;

    margin: 20px 20px 10px 0px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 255, .2);
  img{
    border-top: 1px solid rgba(32,33,37,0.12);
    border-radius: 15px;
    width: 243px;
    height: 243px;
  }
  &__title{
    margin: 15px 0px 15px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
  }
}

.scroll-left{
  cursor: pointer;

}
.scroll-right{
  cursor: pointer;
  
}