@media only screen and (max-width: 1313px) {
   
 .pizza{
    display: flex;
    flex-direction: column;
    
 }
 .pizza__body__second{
    margin: 40px 0px -30px 0px;
 }
 .pizza__search{
    margin: 0px 0px 0px 0px;
 }
 .pizza__search__image{
    display: none;
 }
 
   .pizza__search input{
        width: 100%;
   }
   .menu__list ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
   .menu__list ul li{
       font-size: 10px;
        
   }
}


@media only screen and (max-width: 444px) {
   .pizza__title{
       font-size: 50px;
   }

}


